* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Acme', sans-serif;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}
::placeholder {
	/* Chrome, Firefox, Opera, Safari 10.1+ */
	color: black;
	opacity: 1; /* Firefox */
}
body {
	background-color: #f5eded;
	font-size: 16px;
}

.main-block {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	width: 100vw;
}
.clock-form-start-btn {
	text-align: center;
	background-color: #d72323;
	color: #000000;
	opacity: 0.9;
	font-size: 4em;
	padding: 1em;
	border-radius: 10px;
	cursor: pointer;
	&:hover {
		opacity: 1;
	}
}
.real-main-container {
	width: 593px;
	display: flex;
	flex-direction: column;
	margin: auto;
}
.timer {
	display: none;
	font-size: 10em;
	grid-template-columns: 1fr 13% 13% 13% 1fr;
	grid-template-rows: 1fr 22%;

	p {
		grid-column: 1/4;
		margin: auto;
		text-align: center;
	}
}

.pause.icon.mini {
	cursor: pointer;
	&:hover {
		color: #d72323;
	}
	grid-row: 2/3;
	grid-column: 3/4;
}
.play.icon.mini {
	cursor: pointer;
	&:hover {
		color: #d72323;
	}
	grid-row: 2/3;
	grid-column: 2/3;
}
.close.icon.mini {
	cursor: pointer;
	&:hover {
		color: #d72323;
	}
	grid-row: 2/3;
	grid-column: 4/5;
}

.alert-me-styles {
	display: none;
	position: relative;

	height: 4em;
	margin: auto;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	font-size: 1.2em;
	& h1 {
		font-size: 1.1em;
	}
	& .rest {
		cursor: pointer;
		display: flex;
		align-items: center;
		margin-right: 0.1em;
		padding: 0.3em;
		&:hover {
			color: rgb(167, 12, 12);
		}
		i {
			pointer-events: none;
		}
	}
	.rest-controllers {
		display: flex;
	}
	.rest-timer {
		font-size: 2em;
		display: none;
		color: red;
		margin-top: 0.5em;
		padding: 0 0.2em;
		border-radius: 10px;
		background-color: black;
	}
}

.active-rest {
	background-color: rgba(243, 155, 155, 0.767);
	color: rgb(167, 12, 12);
	border-radius: 20px;
}

.goal {
	display: none;
	height: 400px;
	text-align: center;
	margin: auto;
	flex-direction: column;
	justify-content: space-between;
	.checker-goal {
		align-self: center;
		cursor: pointer;
		font-size: 2em;
		padding: 0.2em 0.4em;
		background-color: rgb(85, 240, 124);
		opacity: 0.85;

		&:hover {
			opacity: 1;
		}
	}
}

.hr-carousel {
	display: flex;
	justify-content: center;
	align-items: center;
	.number-box {
		background-color: #d72323;
		border-radius: 20px;
		color: white;
		font-size: 10em;
		padding: 0.4em 0.1em 0.1em 0.1em;
	}
	i {
		cursor: pointer;
		opacity: 0.5;
		&:hover {
			opacity: 1;
		}
	}
}

.goal-title {
	display: none;
	margin: auto;
	margin-top: 10vh !important;
	justify-content: center;
	align-self: center;
	font-size: 1.5rem !important;
	z-index: 1 !important;
}

.goal-alert {
	position: absolute;
	left: 0;
	top: 0;
	z-index: 10;
	display: none;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-size: 7em;
	color: white;
	width: 100vw;
	min-height: 100%;
	backdrop-filter: blur(10px);
	.goal-alert-text {
		height: 300px;
		width: 100vw;
		background-color: black;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		p {
			margin: 0;
		}
		button {
			font-size: 2rem;
		}
	}
}
@media (max-width: 620px) {
	.timer {
		font-size: 5em;
		margin: auto;
		width: 300px;
	}
	.rest-timer {
		margin-bottom: 2em;
		text-align: center;
	}
	.clock-form-start-btn {
		font-size: 4em;
	}
}
@media (max-width: 489px) {
	.clock-form-start-btn {
		line-height: 1em;
		padding: 0.2em 0.5em 0.2em 0.5em;
		margin: auto;
		width: 99%;
	}
	.goal-alert-text {
		font-size: 0.7em;
	}
}
