* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Acme', sans-serif;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}
::placeholder {
	/* Chrome, Firefox, Opera, Safari 10.1+ */
	color: black;
	opacity: 1; /* Firefox */
}
body {
	background-color: #f5eded;
	font-size: 16px;
}

.main-block {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
}
.clock-form-start-btn {
	text-align: center;
	background-color: #d72323;
	color: #000000;
	opacity: 0.9;
	font-size: 4em;
	padding: 1em;
	border-radius: 10px;
	cursor: pointer;
	&:hover {
		opacity: 1;
	}
}
.real-main-container {
	width: 593px;
	display: flex;
	flex-direction: column;
}
.timer {
	display: none;
	font-size: 10em;
	grid-template-columns: 1fr 13% 13% 13% 1fr;
	grid-template-rows: 1fr 22%;

	p {
		grid-column: 1/4;
		margin: auto;
		text-align: center;
	}
}

.pause.icon.mini {
	cursor: pointer;
	&:hover {
		color: #d72323;
	}
	grid-row: 2/3;
	grid-column: 3/4;
}
.play.icon.mini {
	cursor: pointer;
	&:hover {
		color: #d72323;
	}
	grid-row: 2/3;
	grid-column: 2/3;
}
.close.icon.mini {
	cursor: pointer;
	&:hover {
		color: #d72323;
	}
	grid-row: 2/3;
	grid-column: 4/5;
}

.alert-me-styles {
	display: none;
	align-self: center;
	justify-content: center;
	align-items: center;
	font-size: 2em;
	& .rest {
		cursor: pointer;
		padding: 0.5em;
		display: flex;
		align-items: center;
		margin-right: 0.1em;
		&:hover {
			color: rgb(167, 12, 12);
		}
		i {
			padding-top: 5px;
			pointer-events: none;
		}
	}
}

.active-rest {
	background-color: rgba(243, 155, 155, 0.767);
	color: rgb(167, 12, 12);
	border-radius: 20px;
}
